
:host {
  padding-bottom: 150px; 

}

.news-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 32px;
  font-family: $font-primary;
  color:$secondary-color;
  text-align: center;

  @media(max-width:1000px){
    margin-top: 50px;
    margin-bottom: 20px;
  }

  @media(max-width:768px){
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

button.fetch-button {
  position: absolute;
  left: 46%;
  width: 100px;

  color: white;
  font-family: $font-primary;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  background: $primary-color;
  border-radius: 20px;
  width: 150px;
  margin-top: 25px;

  &:hover {
    opacity: .9;
  }

  @media(max-width:375px){
    left:40%;
  }

  @media(max-width:768px){
    left:42%;
  }

  @media(max-width:414px){
    left:32%;
  }
}

.post {
  font-family: $font-primary;
  position: relative;
  background-color: $primary-color;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  width: 80vw;
  max-width: 900px;
  margin: 20px 15%;
  text-align: center;

  @media(max-width:1200px){
    margin: 20px 5px;
  }
  
  h3.post-title {
    font-size: 21px;
    text-align: left;
    margin: 0;

    @media(max-width:768px){
      font-size: 18px;
    }
  }

  p.post-body {
    margin: 15px 0 0;
    line-height: 1.3;
    text-align: left;

    @media(max-width:768px){
      font-size: 14px;
    }
  }

  &.post-info {
    margin-left: 20px;
  }

  .number {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 15px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $secondary-color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
  }

}

















