:host {
  .input-container {
    padding: .5rem;
    border-radius: 1rem;
    border: 1px solid grey;
    input {
      outline: none;
      border: none;
      width: 100%;
      font-size: .8rem;
    }
  }
}
