:host {
  display: flex;
}
div {
  color: $secondary-color;
  font-size: 40px;
  padding-top: 100px;
}
p {
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 375px) {
  div {
    padding-top: 150px;
  }
}

