.lower {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: $primary-font;
  font-size: 20px;
  height: 14vh;
}
img {
  padding: 10px 0px;
  padding-left: 100px;
  width: 300px;
}
.lower_links {
  background-color: $secondary-color;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}