:host {
  display: block;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
button:hover {
  transition: all .2s;
  opacity: .8;
}
.main_box {
  height: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.img_box {
  background-image: url('assets/foto3.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(2,51,110,0.7);
  width: 500px;
  height: 300px;
  padding: 30px;
  margin:30px;
}
.container_info h1 {
  font-size: 30px;
  font-family: $font-primary;
  color: white;
  margin-bottom: 20px;
}
.container_info span {
  font-size: 30px;
  font-family: $font-primary;
  color: $secondary-color;
}
.container_info h2 {
  font-family: $font-primary;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.container_button {
  color: white;
  font-family: $font-primary;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
  background: $secondary-color;
  border-radius: 53px;
  width: 200px;
}

.card_box {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  height: 380px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card_img {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card h3 {
  margin-left: 40px;
  font-family: $font-primary;
  color: $primary-color;
  font-size: 20px;
}
.card p {
  margin-left: 40px;
  font-family: $font-primary;
  height: 125px;
}
.card_button {
  color: white;
  font-family: $font-primary;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  cursor: pointer;
  background: $primary-color;
  border-radius: 53px;
  width: 150px;
  margin-top: 20px;
}
.card img {
  width: 80px;
  height: 80px;
}
.img_sfondo1 {
  background-color: #B4DEF0;
  border-radius: 100px;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_sfondo2 {
  background-color: #FA7070;
  border-radius: 100px;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_sfondo3 {
  background-color: #8CF9A4;
  border-radius: 100px;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_card_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:1000px){
  .card1 {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  div.container_p_button p {
    margin-left: 30px;
  }
  .container_p_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
  }
  .card_button {
    margin-top: 30px;
  }
  .card p {
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media(max-width:600px){
  .card1 {
    display: block;
    flex-grow: initial;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .card {
    width: 350px;
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card_img {
    margin: 0px;
    margin-bottom: 20px;
  }
  .card h3 {
    margin: 0px;
  }
  .container_info h1 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
  .container_info span {
    font-size: 25px;
  }
  .container_info h2 {
    font-size: 20px;
  }
}

@media(max-width:320px){
  .container_info h1 {
    font-size: 21px;
  }
  .container_info span {
    font-size: 21px;
  }
  .container_info h2 {
    font-size: 21px;
  }
  .container_button {
    font-size: 21px;
  }
}